$blue-01: #1f3f68;
$blue-02: #316099;
$blue-03: #356ead;
$blue-04: #5a98d0;
$blue-05: #98c3e8;
$blue-06: #98d0fc;
$blue-08: #3481d7;
$blue-20: rgba(16, 112, 177, 0.2);
$blue-60: rgba(100, 181, 246, 0.6);
$white: #ffffff;
$white-00: rgba(255, 255, 255, 0);
$gray: #c4c4c4;
$yellow-light: #fff8e1;
$yellow: #ffcc80;
$red: #eb5757;
$red-dark: #872727;
$purple: #af6ced;
$purple-dark: #5e199d;

$shadow: 5px 20px 50px $blue-20;

$gradient-yellow: linear-gradient(238.37deg, $yellow-light 0.54%, $yellow 88.49%);
$gradient-light-blue: linear-gradient(180.99deg, $white-00 6.19%, $blue-60 103.09%);
$gradient-blue: linear-gradient(183.81deg, $blue-06 -3.62%, $blue-08 88.96%);
$gradient-red: linear-gradient(180deg, $red 0%, $red-dark 100%);
$gradient-purple: linear-gradient(180deg, $purple 0%, $purple-dark 100%);
$background: linear-gradient(0deg, $blue-05 8.84%, $white-00 31.12%);
